Repository MutinyWallet/mutiny-node, pull requests merged in 2023-12, with the labels that each got.

#815 Nostr Wallet Auth
  Cargo.lock
  mutiny-core/Cargo.toml
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nip49.rs
  mutiny-core/src/nostr/nwc.rs
  mutiny-wasm/src/lib.rs
  mutiny-wasm/src/models.rs
Labels: nostr

#885 Use ldk background processor + transaction sync
  .gitignore
  Cargo.lock
  Cargo.toml
  justfile
  mutiny-core/Cargo.toml
  mutiny-core/src/background.rs
  mutiny-core/src/chain.rs
  mutiny-core/src/error.rs
  mutiny-core/src/esplora.rs
  mutiny-core/src/fees.rs
  mutiny-core/src/gossip.rs
  mutiny-core/src/keymanager.rs
  mutiny-core/src/labels.rs
  mutiny-core/src/ldkstorage.rs
  mutiny-core/src/lib.rs
  mutiny-core/src/logging.rs
  mutiny-core/src/multiesplora.rs
  mutiny-core/src/networking/socket.rs
  mutiny-core/src/networking/websocket.rs
  mutiny-core/src/node.rs
  mutiny-core/src/nodemanager.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nwc.rs
  mutiny-core/src/onchain.rs
  mutiny-core/src/peermanager.rs
  mutiny-core/src/redshift.rs
  mutiny-core/src/storage.rs
  mutiny-core/src/test_utils.rs
  mutiny-core/src/utils.rs
  mutiny-wasm/Cargo.toml
  mutiny-wasm/src/indexed_db.rs
Labels: LDK

#867 Add fedimint
  .cargo/config
  Cargo.lock
  mutiny-core/Cargo.toml
  mutiny-core/src/event.rs
  mutiny-core/src/federation.rs
  mutiny-core/src/key.rs
  mutiny-core/src/keymanager.rs
  mutiny-core/src/lib.rs
  mutiny-core/src/node.rs
  mutiny-core/src/nodemanager.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nwc.rs
  mutiny-core/src/onchain.rs
  mutiny-core/src/redshift.rs
  mutiny-core/src/sql/glue.rs
  mutiny-core/src/sql/mod.rs
  mutiny-core/src/storage.rs
  mutiny-core/src/test_utils.rs
  mutiny-wasm/Cargo.toml
  mutiny-wasm/src/lib.rs
  mutiny-wasm/src/models.rs
Labels: fedimint

#905 Update rust-nostr to v0.26
  Cargo.lock
  mutiny-core/Cargo.toml
  mutiny-core/src/lib.rs
  mutiny-core/src/nodemanager.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nip49.rs
  mutiny-core/src/nostr/nwc.rs
  mutiny-core/src/test_utils.rs
  mutiny-wasm/Cargo.toml
Labels: nostr

#889 Panic if lock has changed before reconnections
  mutiny-core/src/peermanager.rs
  mutiny-core/src/storage.rs
Labels: LDK
