Repository MutinyWallet/mutiny-node, pull requests merged in 2024-04, with the labels that each got.

#1099 Dedup fedimint events from relays
  mutiny-core/src/nostr/mod.rs
Labels: bug, nostr

#1076 Update fedimint to v0.3.0
  Cargo.lock
  mutiny-core/Cargo.toml
  mutiny-core/src/federation.rs
  mutiny-core/src/lib.rs
  mutiny-wasm/Cargo.toml
  mutiny-wasm/src/lib.rs
  mutiny-wasm/src/waila.rs
Labels: fedimint

#1097 Allow changing nostr keys on the fly
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nwc.rs
  mutiny-core/src/storage.rs
  mutiny-core/src/utils.rs
  mutiny-wasm/src/lib.rs
Labels: nostr

#1115 Fix label activity
  mutiny-core/src/lib.rs
Labels: bug

#1116 Ignoring message gossip fix
  Cargo.lock
  Cargo.toml
  mutiny-core/src/peermanager.rs
Labels: LDK

#1117 Better error when connecting to federation
  mutiny-core/src/error.rs
  mutiny-core/src/federation.rs
  mutiny-wasm/src/error.rs
Labels: fedimint

#1124 Fixes for recommendation events
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/mod.rs
Labels: nostr

#1125 Better setup for new profiles
  mutiny-core/src/hermes.rs
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/storage.rs
  mutiny-wasm/src/lib.rs
Labels: nostr

#1129 More safely handle invalid NWC events
  mutiny-core/src/nostr/nwc.rs
Labels: nostr

#1118 Update contact's last_used when receiving dms
  mutiny-core/src/nostr/mod.rs
Labels: nostr

#1127 Implement deleting federation recommendations
  mutiny-core/src/nostr/mod.rs
  mutiny-wasm/src/lib.rs
Labels: nostr

#1136 Update LDK for to fix inflight updates issue
  Cargo.lock
  Cargo.toml
Labels: LDK

#1128 Tests for lots new nostr functionality
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/client.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nwc.rs
  mutiny-core/src/nostr/primal.rs
Labels: nostr, tests

#1139 Fixes for cashu
  Cargo.lock
  mutiny-core/Cargo.toml
  mutiny-core/src/cashu.rs
  mutiny-wasm/Cargo.toml
Labels: bug

#1150 Use correct initial sync AtomicBool
  mutiny-core/src/node.rs
  mutiny-core/src/nodemanager.rs
Labels: bug

#1155 nwc fixups
  mutiny-core/src/nostr/nwc.rs
Labels: nostr

#1157 Better fedimint update streams
  mutiny-core/src/federation.rs
  mutiny-core/src/lib.rs
  mutiny-core/src/node.rs
  mutiny-core/src/nodemanager.rs
  mutiny-core/src/storage.rs
Labels: fedimint
