Repository MutinyWallet/mutiny-node, pull requests merged in 2024-03, with the labels that each got.

#1054 upgrade lightning liquidity
  Cargo.lock
  mutiny-core/Cargo.toml
  mutiny-core/src/lsp/lsps.rs
Labels: LDK

#1056 Don't attempt payments before on chain syncing
  mutiny-core/src/node.rs
  mutiny-core/src/nodemanager.rs
Labels: bug, LDK

#1040 Add public and private zaps
  Cargo.lock
  mutiny-core/Cargo.toml
  mutiny-core/src/error.rs
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/utils.rs
  mutiny-wasm/Cargo.toml
  mutiny-wasm/src/lib.rs
Labels: nostr

#1003 Add any missing channel capacity to reserve
  mutiny-core/src/nodemanager.rs
Labels: LDK

#1048 Support new NWC commands
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nwc.rs
  mutiny-core/src/test_utils.rs
  mutiny-wasm/src/lib.rs
Labels: nostr

#1061 Fixes for NWA
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/nwc.rs
Labels: bug, nostr

#1069 Auto sync nostr profile
  mutiny-core/src/lib.rs
Labels: nostr

#1072 Add export_nsec
  mutiny-core/src/nostr/mod.rs
  mutiny-wasm/src/lib.rs
Labels: nostr

#1073 Handle no profile event when syncing nostr
  mutiny-core/src/nostr/primal.rs
Labels: bug, nostr

#1075 Fix LSP connection failures during maintance
  mutiny-core/src/lsp/mod.rs
  mutiny-core/src/lsp/voltage.rs
  mutiny-core/src/node.rs
Labels: bug

#999 Create index for sorted activity
  mutiny-core/src/error.rs
  mutiny-core/src/ldkstorage.rs
  mutiny-core/src/lib.rs
  mutiny-core/src/node.rs
  mutiny-core/src/nodemanager.rs
  mutiny-core/src/onchain.rs
  mutiny-core/src/storage.rs
  mutiny-wasm/src/indexed_db.rs
  mutiny-wasm/src/lib.rs
Labels: enhancement

#1074 Pin wasm-bindgen to same version as nix
  Cargo.lock
  flake.lock
  mutiny-core/Cargo.toml
  mutiny-wasm/Cargo.toml
Labels: dependencies

#1070 Follow and Unfollow nostr contacts
  mutiny-core/src/lib.rs
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/primal.rs
  mutiny-core/src/storage.rs
  mutiny-wasm/src/lib.rs
  mutiny-wasm/src/models.rs
Labels: nostr

#1077 Use lightning-net-tokio for non-wasm builds
  Cargo.lock
  Cargo.toml
  mutiny-core/Cargo.toml
  mutiny-core/src/networking/mod.rs
  mutiny-core/src/networking/socket.rs
  mutiny-core/src/networking/tcp_socket.rs
  mutiny-core/src/node.rs
  mutiny-core/src/peermanager.rs
Labels: bug, proxy/p2p

#1060 Mint discoverability
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/nostr/primal.rs
  mutiny-wasm/src/lib.rs
Labels: fedimint, nostr

#1082 Add handling for changed nostr keys
  mutiny-core/src/nostr/mod.rs
  mutiny-core/src/storage.rs
Labels: bug, nostr

#1085 Fixes for blind tokens
  mutiny-core/src/blindauth.rs
  mutiny-core/src/hermes.rs
  mutiny-core/src/lib.rs
  mutiny-wasm/src/indexed_db.rs
Labels: bug

#1091 Add network to nostr discovery events
  mutiny-core/src/nostr/mod.rs
  mutiny-wasm/src/lib.rs
Labels: nostr

#1092 Assume mainnet for fedimint recommendations
  mutiny-core/src/nostr/mod.rs
Labels: bug

#1096 Add delete profile
  mutiny-core/src/nostr/mod.rs
  mutiny-wasm/src/lib.rs
Labels: nostr
